/calculoedad/nbproject/private/
/TemperaturasMetiendoCiudades/nbproject/private/
/calculoEdadFacil/nbproject/private/
/cuentaArticulos/nbproject/private/
/*.gif
/*.png
/*.rar
/*.zip
/TiradasDado/nbproject/private/
/Partidos/nbproject/private/
/Liga/nbproject/private/
/Partidos2/nbproject/private/
/3enRaya/nbproject/private/
/conecta4/nbproject/private/
/barcos/nbproject/private/
/buscaminas/nbproject/private/
/PalabrasCruzadas_1/nbproject/private/
/sesiones1/nbproject/private/
/sesionesnumero/nbproject/private/
/sesionesbbdd/nbproject/private/
/ahorcado/nbproject/private/