body {
    text-align: center;
    main{
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        table {
            display: inline-block;
            margin: 10px;
            text-align: center;

            tr.cabecera {

                td {
                    font-size:1.5em;
                    width: 5em;
                    font-weight: bold;
                }
            }
        }
    }
}
