body {
    text-align: center;
    main{
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        .espacio {
            visibility: none;
            display: block;
            height: 3em;
            width: 5em;
            margin: 0 auto;
            .error {
                background-color: yellow;
                opacity: 0.8;
            }
        }
        table {
            display: inline-block;
            margin: 10px;
            text-align: center;

            tr.cabecera {

                td {
                    font-size:1.5em;
                    width: 5em;
                    font-weight: bold;
                }
            }
        }
    }
}
