form    {text-align: center;
        display: block;}

table   {border: solid 3px red;
        border-collapse: collapse;
        margin: 0px auto;}

th      {text-align: center;
        font: normal bold 1.5em/1.5 sans-serif;
        padding: 15px;}

td      {border: solid 1px;        
        text-align: center;}

input   {text-align: center;}

h1      {text-align: center;}