table {
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    
}

td {
    border: solid 1px black;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: red;
    text-align: center;
    font-weight: bold;  
}

img {
    width: 45px;
    height: 45px;
}
form {
    margin: 0 auto;
    text-align: center;
}