.capaform {width: 600px; 
                       margin-left: auto; 
                       margin-right: auto;
                       position: relative;
                       top: 50px;
                       font-size: 20px;
                       text-align:left;
                       padding: 50px;
                       border: 5px solid orange}
form {text-align: center;}
h1 {text-align: center;}