table {
    empty-cells: show;
    border: 1px solid;
    margin: 0 auto;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}

input {
}

form {
    text-align: center;
}