form {
    text-align: center;
    margin: 0 auto;
}

tr {
    border: 1px solid;
    empty-cells: show;
}

table {
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

td {
    border: solid 1px black;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: red;
    text-align: center;
    font-weight: bold;  
}

img {
    width: 45px;
    height: 45px;
}