/* 
    Document   : stylesheet.css
    Created on : 29-abr-2013, 17:08:40
    Author     : ivan
    Description:
        Purpose of the stylesheet follows.
*/

h1 {text-align: center;}
.capaform {width: 600px; 
           margin-left: auto; 
           margin-right: auto;
           position: relative;
           top: 50px;
           font-size: 20px;
           text-align:left;
           padding: 50px;
           border: 5px solid orange}
.form-font {font-size: 25px}
input {font-size: 20px}
select {font-size: 20px}
.form-section {
    margin: 25px;
}
.submit {position: absolute;
         right: 30px;
         width: 80px;
         height: 30px ;
         background: orange}


