form,table  {margin: auto;
            text-align: center;
            empty-cells: show;}

td          {text-align: center;
            margin: auto;
            border: 1px solid;
            width: 100px;
            height: 100px;}

h1          {text-align: center;}

img         {width: 95px;
            height: 95px;}